<h1>Sign up for GemTrader!</h1>
<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<% if @user.errors.any?%>
    <h2><%= pluralize(@user.errors.count, "error") %> holding you back from trading those gems:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<%= f.label :password%>
<%= f.password_field :password%><br>
<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation%><br>
<%= f.submit "Create Account"%>
<% end %><br><br>

Existing user? <%= link_to "Sign In", login_path %>