<h1>Gem Market</h1>
<div class=main_back>
<h2>Ready to sell? Select the cards you wish you sell below.</h2><br>
<% if current_user.cards.empty? %>
    Darn! You don't have any cards yet. Try buying a box first.<br>
<% else %>
    <%= form_tag '/sell_cards' do %>
    <%= collection_check_boxes(:user, :cards_to_sell, current_user.cards.order(:points_worth).order(:name), :id, :display_card) do |b| %>
    <%= b.label { b.check_box + b.text } %><br>
    <% end %>
    <%= submit_tag "Sell these Cards"%>

    <% end %>
<% end %><br><br>

<div class="buttons">
    <%= link_to "Nevermind, don't sell", user_path(current_user)%><br>
</div>
<br>

</div>