<h1><%= @user.name%></h1>
<h2>Points: <%=current_user.points%></h2>
<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %><br><br>

<h2>All Your Cards</h2><br>
    <% if current_user.cards.empty? %>
    <p>No Cards! Time to buy another box.</p>
    <% end %>
    <% current_user.cards.each do |card|%>
    <div class="gem">
        <h6><%= card.name %></h6>
        <p><%= card.points_worth %> pts</p>
    </div>
    <% end %><br>

<%=link_to "Sell Cards", '/sell_cards'%><br>
<%=link_to "Buy a Box of Cards", boxes_path%>
<br><br>
<%= link_to "View Leaderboard", users_path%><br>
<%= link_to "Log out", logout_path, method: "post" %>