<h1>Pick a Box</h1>
<div class=main_back>
<ul>

<h2>Points: <%=current_user.points%></h2>

<% @boxes.each do |box| %>
    <%= link_to box.rarity, box_path(box)%> Cost: <%= box.cost %>
<% end %>

</ul>

<h3>Gem Cards Availible</h3>
<% @boxes.first.cards.each do |card| %>
    <div class="gem">
        <h6><%= card.name %></h6>
        <p><%= card.points_worth %> pts</p>
    </div>
<% end %>
